In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
titles = pd.read_csv('netflix_titles.csv')

In [5]:
titles.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

## Task #1 (Python): What is the most popular release year for movies on Netflix?

In [26]:
titles['type'].unique()

array(['Movie', 'TV Show'], dtype=object)

In [28]:
tv_titles = titles[titles['type']=='TV Show']
movie_titles = titles[titles['type']=='Movie']

In [31]:
movie_titles['release_year'].value_counts(ascending=False).head(2)

2017    767
2018    767
Name: release_year, dtype: int64

## Task #2 (Python): What year did Netflix add the most content to its platform?

In [35]:
titles['release_year'].value_counts(ascending=False).head(1)

2018    1147
Name: release_year, dtype: int64

## Task #3 (Python): What is the most popular month to add new content?

In [43]:
import datetime
titles['date_added'] = pd.to_datetime(df['date_added'])

In [47]:
titles['month'] = titles['date_added'].apply(lambda date:date.month)

In [50]:
titles['month'].value_counts().head(1)

7.0    827
Name: month, dtype: int64

## Task #4 (Python): What is the movie with the longest title in the dataset?

In [123]:
movie_titles_len = movie_titles['title'].apply(lambda title: len(title))

In [127]:
movie_titles_len.sort_values(ascending=False)

5164    104
8462     88
3240     88
4851     83
3479     79
       ...
3668      2
5959      2
4177      2
7687      1
5958      1
Name: title, Length: 6131, dtype: int64

In [131]:
titles.iloc[5164].title # NOT 'movie_titles.iloc[5164]'

'Jim & Andy: The Great Beyond - Featuring a Very Special, Contractually Obligated Mention of Tony Clifton'

## Task #5 (Python): Which actor/actress appeared in the most movies & tv shows?

In [161]:
titles.head()
title_and_cast = titles[['title', 'cast']]
title_and_cast.dropna(inplace=True)
title_and_cast

/var/folders/d6/2rlj4xbj40365hsm6ckjbn7h0000gn/T/ipykernel_20021/3802712334.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  title_and_cast.dropna(inplace=True)

,title,cast
1,Blood & Water,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban..."
2,Ganglands,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi..."
4,Kota Factory,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K..."
5,Midnight Mass,"Kate Siegel, Zach Gilford, Hamish Linklater, H..."
6,My Little Pony: A New Generation,"Vanessa Hudgens, Kimiko Glenn, James Marsden, ..."
...,...,...
8801,Zinzana,"Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ..."
8802,Zodiac,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J..."
8804,Zombieland,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ..."
8805,Zoom,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma..."
8806,Zubaan,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan..."

In [180]:
actors = []

for cast in title_and_cast['cast']:
    cast_split = cast.split(',')
    for actor in cast_split:
            actors.append(actor)

In [181]:
pd.DataFrame(actors).value_counts(ascending=False).head(1)

 Anupam Kher    39
dtype: int64